<div id="memory_index">
	<div class="column">
		<div class="col-md-12" id="top">
			<div id="move">
				<center><p>点击参与纪念</p></center>
			</div>
			<p class="title">
				深切缅怀平民音乐教育家费承铿先生
			</p>
		</div>
		<div class="col-md-12" id="contributor">
			<marquee scrollamount="5" direction="left" ><p class="p1">捐款人：　张三，李四，王五，张三，李四，王五，张三，李四，王五，张三，李四，王五</p></marquee>
		</div>
		<div class="col-md-12" id="body">
			<div class="row">
				<div class="col-md-4" id="body-left">
					<div class="col-md-12" id="news">
						<center><h2>新闻</h2></center>
						<p class="p1">新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻
						新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻</p>
					</div>
				</div>
				<div class="col-md-4" id="body-middle">
					<div class="column">
						<div class="col-md-12" id="pictures">
							<div id="myCarousel" class="carousel slide" style="margin-top: 20px;">
							   <!-- 轮播（Carousel）指标 -->
							   <ol class="carousel-indicators">
							      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							      <li data-target="#myCarousel" data-slide-to="1"></li>
							      <li data-target="#myCarousel" data-slide-to="2"></li>
							   </ol>   
							   <!-- 轮播（Carousel）项目 -->
							   <div class="carousel-inner">
							      <div class="item active">
							         <%= image_tag "1.jpg" %>
							      </div>
							      <div class="item">
							         <%= image_tag "2.jpg" %>
							      </div>
							      <div class="item">
							         <%= image_tag "3.jpg" %>
							      </div>
							   </div>
							   <!-- 轮播（Carousel）导航 -->
							   <a class="carousel-control left" href="#myCarousel" 
							      data-slide="prev">&lsaquo;</a>
							   <a class="carousel-control right" href="#myCarousel" 
							      data-slide="next">&rsaquo;</a>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="col-md-12" id="board">
								<center><h4>纪念文章</h4></center>
								<p>张三:</p>
								<p style="padding-left:10px;padding-right: 10px;">纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章</p>
								<br/>
								<p>张三:</p>
								<p style="padding-left:10px;padding-right: 10px;">纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章</p>
								<br/>
								<p>张三:</p>
								<p style="padding-left:10px;padding-right: 10px;">纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章</p>
								<br/>
								<p>张三:</p>
								<p style="padding-left:10px;padding-right: 10px;">纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章纪念文章</p>
								<br/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4" id="body-right">
					<div class="column">
						<div class="col-md-12" id="production">
							<div class="col-md-12" id="production_top">
								<center><h4>作品展览</h4></center>
							</div>
							<div class="col-md-12" id="production_content">
								<ul>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
									<li><span class="glyphicon glyphicon-star-empty"></span>作品啦啦啦啦啦啦</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12">
							<div class="column">
								<div class="col-md-12" id="message">
									<marquee style="height:450px;" scrollamount="5" direction="up" >
										<center><h4>参与者留言</h4></center>
										<p>张三：留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言</p>
										<br/>
										<p>张三：留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言</p>
										<br/>
										<p>张三：留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言留言</p>
									</marquee>
								</div>
								<div class="col-md-12" id="contribute">
									<br/>
									<p>捐款账户: 12345678900</p>
									<span class="glyphicon glyphicon-qrcode" style="font-size: 8em;margin-right: 50px"></span>
									<span class="glyphicon glyphicon-qrcode" style="font-size: 8em;"></span><br/>
									<span style="margin-right: 100px;">支付宝账号</span><span>微信账号</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--div class="col-md-12" id="bottom"></div-->
	</div>
</div>