<div class="col-md-12" id="messages_message">
	<div class="column">
		<div class="col-md-12" id="top">
			<div class="column">
				<div class="col-md-12" id="title">
					<%= image_tag "logo.jpg", id: "img1" %>
					<%= image_tag "title.jpg", id: "img2" %>
				</div>
				<div class="col-md-7 col-md-offset-1" id="pic"></div>	
			</div>
		</div>
		<div class="col-md-12" id="body">
			<div class="row">
				<div class="col-md-5 col-md-offset-1" id="body-left"></div>
				<div class="col-md-5" id="body-right"></div>
			</div>
		</div>
		<div class="col-md-12" id="bottom"></div>
	</div>	
</div>

