// Place all the styles related to the Memory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//memory/index.heml.erb页面的样式

#memory_index{


	#top{
		height:auto;
		background-color:rgb(45,49,52);
		padding:0px;
	}


			#img1{
				width:60px;
				height:70px;
			}

			#img2{
				width:40%;
				height:60px;

			}

			#pic{
				height:500px;
				background-image:url(main.jpg);
				background-repeat:no-repeat;
				background-size:100% 100%;
				box-shadow:0px 0px 50px 5px rgba(255,255,255,0.41);
			}


	#move{
    width:170px;
    height:170px;
    border:2px solid white;
    position:absolute;
    z-index:5555;
    cursor:pointer;
    animation-name:myfirst;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-play-state:running;
    /* Firefox: */
    -moz-animation-name:myfirst;
    -moz-animation-duration:50s;
    -moz-animation-timing-function:linear;
    -moz-animation-delay:0s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:alternate;
    -moz-animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:myfirst;
    -webkit-animation-duration:50s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
    /* Opera: */
    -o-animation-name:myfirst;
    -o-animation-duration:50s;
    -o-animation-timing-function:linear;
    -o-animation-delay:0s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:alternate;
    -o-animation-play-state:running;
    }

    @keyframes myfirst
    {
    0%   {left:0px; top:0px;}
    25%  {left:1000px; top:1300px;}
    50%  {left:0px; top:1300px;}
    75%  {left:1000px; top:0px;}
    100% {left:0px; top:0px;}
    }

    @-moz-keyframes myfirst /* Firefox */
    {
    0%   {left:0px; top:0px;}
    25%  {left:1000px; top:1300px;}
    50%  {left:0px; top:1300px;}
    75%  {left:1000px; top:0px;}
    100% {left:0px; top:0px;}
    }

    @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {left:0px; top:0px;}
    25%  {left:1000px; top:1300px;}
    50%  {left:0px; top:1300px;}
    75%  {left:1000px; top:0px;}
    100% {left:0px; top:0px;}
    }

    @-o-keyframes myfirst /* Opera */
    {
    0%   {left:0px; top:0px;}
    25%  {left:1000px; top:1300px;}
    50%  {left:0px; top:1300px;}
    75%  {left:1000px; top:0px;}
    100% {left:0px; top:0px;}
    }

	#contributor{
		height:50px;
		padding:0px;
		border:1px solid rgba(201,201,201,0.5);
		border-top:1px solid black;
		background-color:white;

		p.p1{
			color:rgba(0,0,0,0.68);
			font-size:1.3em;
			font-weight:bolder;
			padding-top:10px;
		}
	}

		

	#body{
		height:850px;
		margin-top:20px;
		float:left;
	}

		

			#host{
				height:300px;
				font-family: 华文新魏;
				font-size:1.3em;
				font-weight:bold;
				color: rgba(0, 0, 0, 0.63);
				text-align:left;
				padding-top:20px;
			}


				#hoster{
					padding:0px;
				}

				table.tab1{
					width:98%;
					height:auto;
					margin-top:50px;
					border-collapse:separate;   
					border-spacing:10px;
				}

			#news{
				height:500px;
			}

				span.span1{
					font-size:1.3em;
					font-weight:bold;
					margin-left:10px;
					font-family:微软雅黑;
					color:rgba(0,0,0,0.7)
				}

				#more{
					width:50px;
					height:20px;
					background-color:rgb(250,120,42);
					border-radius:2px;
					float:right;
					color:white;
					text-align:center;
					margin-top:10px;
				}

				p.news{
					color:rgb(57,57,57);
					font-size:1em;
					text-align:left;
					margin-top:20px;
					margin-right:5px;
					font-family: 黑体;
				}


		

			#pictures{
				height:300px;
			}



				#img3{
					width:100%;
					height:260px;
				}

				#photo{
					padding-top:5px;
					margin-bottom:5px;
					text-align:center;
					font-size:1em;
					font-weight:bold;
					color:black;
				}

			#board{
				height:500px;
				color:black;
			}

				

				p.articles{
					color:rgb(57,57,57);
					font-size:1em;
					margin-top:20px;
					font-family: 黑体;
				}

		

			#production{
				height:300px;
				padding-top:20px;
			}

				#production_top{
					height:40px;
					border:1px solid rgba(0,0,0,0.2);
					border-bottom:none;
					border-radius:10px 10px 0px 0px;
					box-shadow:2px -1px 20px 5px rgba(255,255,255,0.21);
					background-color:rgb(255,255,255);
				}

				#production_content{
					height:260px;
					border:1px solid rgb(201,201,201);
					background-color: rgb(216,233,249);
					box-shadow:2px 1px 20px 5px rgba(255,255,255,0.21);
					padding-top:5px;
					padding-left:10px;
					padding-right:10px;
				}

				span.span2{
					font-size:1em;
					color:black;
					font-weight:bolder;
					float:right;
					margin-bottom:10px;
				}


				table.tab2{
					width:95%;
					font-family: 微软雅黑;
				}

			#message{
				height:300px;
				margin-top:10px;
				border:1px solid rgb(201,201,201);
				background-color:rgb(248, 248, 248);
				color:white;
				padding-top:10px;
			}

				p.msg{
					color:rgb(57,57,57);
					font-size:1em;
					margin-top:20px;
					margin-left:5px;
					margin-right:5px;
					font-family: 黑体;
				}


			#contribute{
				color:black;
			}

				p.money{
					font:1em;
					padding-top:5px;
					padding-bottom:5px;
				}

				table.tab3{
					width:95%;
					margin-top:20px;
					margin-left:10px;
				}

	#bottom{
		height:150px;
		float:left;
	}

		#instruction{
			border-top:3px solid rgba(0,0,0,0.3);
			margin-top:10px;
			padding-top:20px;
			text-align:center;
			font-size:1em;
			color:rgba(0,0,0,0.6);
			font-family:微软雅黑;
		}
}


